<div class="col-md-12">
  <h3>
    User '{{model.name}}'
    <small>
      ({{model.email}})
      <div class="btn-group" role="group" aria-label="...">
        {{#link-to 'users.edit' model classNames='btn btn-primary' title="Edit this user" data-toggle="tooltip" data-placement="top"}}
          <span class="glyphicon glyphicon-edit"></span>
        {{/link-to}}
        <a href="#" {{action "delete" model}} class="btn btn-danger" title="Destroy this user" data-toggle="tooltip" data-placement="top">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </div>
    </small>
  </h3>
  {{#if model.memberships}}
    <h3>Group memberships ({{model.memberships.length}})</h3>
    <ul class='list-group'>
      {{#each membership in model.memberships }}
        <li class="list-group-item clearfix">
          {{link-to membership.group.name 'groups.show' membership.group}} ({{membership.role}})
          <div class="btn-group pull-right" role="group" aria-label="...">
            {{#link-to 'memberships.edit' membership classNames='btn btn-primary btn-sm' title="Edit this membership" data-toggle="tooltip" data-placement="top"}}
              <span class="glyphicon glyphicon-edit"></span>
            {{/link-to}}
            <a href="#" {{action "delete" membership}} class="btn btn-danger btn-sm" title="Destroy this membership" data-toggle="tooltip" data-placement="top">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class='well'>
      No memberships
    </div>
  {{/if}}
</div>
