<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">myLab</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          {{link-to "Documents" 'documents'}}
        </li>
        <li>
          {{link-to "Categories" 'categories'}}
        </li>
        <li>
          {{link-to "Groups" 'groups'}}
        </li>
        <li>
          {{link-to "Memberships" 'memberships'}}
        </li>
        <li>
          {{link-to "Users" 'users'}}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {{#if session.isAuthenticated}}
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            {{session.currentUser.name}}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              {{link-to "Settings" 'users.show' session.currentUser}}
            </li>
            <li class="divider"></li>
            <li>
              <a {{ action 'invalidateSession' }}>Logout</a>
            </li>
          </ul>
        </li>
      {{else}}
        <li>
          <a {{ action 'authenticateSession' }}>Login</a>
        </li>
      {{/if}}
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
{{!--   <div class="row">
    <div class="col-md-12">
      {{message-queue}}
    </div>
  </div> --}}
  {{outlet}}
</div>
<div class="footer">
  <div class="container">
    <a href="http://daringfireball.net/projects/markdown/syntax" class="text-muted">Markdown reference</a>
  </div>
</div>
